<!DOCTYPE html>
<html ng-app="app" lang="pt-br">

<head>
  <title>Ptolemaeus</title>
  <meta name="description" content="Ptolemaeus">
  <meta charset="utf-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#777777" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="windows-web-app-capable" content="yes">
  <meta name="web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="google-site-verification" content="" />

  <link rel="canonical" href="https://util.pgxp.com.br/" />
  <link rel="manifest" href="/app.v1.webmanifest" />

  <link rel="publisher" href="https://github.com/PauloGladson" />
  <meta name="author" content="PauloGladson">
  <link type="text/plain" rel="author" href="/humans.txt" />

  <!-- Open Graph -->
  <meta property="og:site_name" content="Ptolemaeus" />
  <meta property="og:type" content="SoftwareApplication" />
  <meta property="og:title" content="Ptolemaeus" />
  <meta property="og:description" content="Ptolemaeus" />
  <meta property="og:url" content="https://util.pgxp.com.br/" />
  <meta property="og:image" content="https://util.pgxp.com.br/img/logo-large.png" />
  <meta property="article:published_time" content="2017-03-01" />
  <meta property="article:modified_time" content="2017-07-29" />
  <meta property="article:tag" content="Ptolemaeus" />

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@paulogladson">
  <meta name="twitter:site" content="util.pgxp.com.br">
  <meta name="twitter:domain" content="util.pgxp.com.br">
  <meta name="twitter:title" content="Ptolemaeus">
  <meta name="twitter:description" content="Ptolemaeus">
  <meta property="og:image" content="https://util.pgxp.com.br/img/logo-large.png">

  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

  <!-- Bootstrap -->

  <!-- Custom Theme Style -->
  <!--<link ng-href="styles/custom.css" rel="stylesheet">-->

  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
  <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css" />
  <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css" />
  <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.css" />
  <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
  <link rel="stylesheet" href="bower_components/ngToast/dist/ngToast.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css" />
  <link rel="stylesheet" href="styles/style.css" />
  <link rel="stylesheet" href="styles/cosmos.min.css" />
  <link rel="stylesheet" href="styles/simple-line-icons.css" />
  <!-- endbuild -->

  <link rel="apple-touch-icon" sizes="192x192" href="img/ios/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="512x512" href="img/android/android-launchericon-512-512.png">
  <link rel="icon" type="image/png" sizes="192x192" href="img/android/android-launchericon-192-192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden" ng-controller="DashboardController" ng-cloak>
  <header class="app-header navbar" ng-if="currentUser">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
      <span class="icon-menu">
      </span>
    </button>
    <a class="navbar-brand" href="#!"></a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
      <span class="icon-menu"></span>
    </button>
    <ul class="nav navbar-nav d-md-down-none">
      <li class="nav-item px-3">

      </li>
    </ul>

    <ul class="nav navbar-nav ml-auto" ng-controller="AuthController">
      <li class="nav-item">
        <a class="nav-link" ng-href="#!login" ng-click="logout()">
          <i class="icon-logout"></i> Sair
        </a>
      </li>
    </ul>

  </header>
  <div class="app-body">
    <div class="sidebar" ng-if="currentUser">
      <nav class="sidebar-nav">
        <ul class="nav">
          <li class="nav-title">
            <a ng-href="#!/usuario/edit/{{currentUser.identity}}">
              <img ng-src="{{currentUser.params['Foto']}}" class="avatar"> {{currentUser.name}}
            </a>
          </li>
          <li class="nav-item" has-roles="Administrador,Visitante">
            <a class="nav-link" ng-href="#!dashboard">
              <i class="icon-chart"></i> Dashboard
            </a>
          </li>

        </ul>
      </nav>
    </div>

    <main class="main" ng-view>
    </main>

    <toast></toast>
  </div>
  <footer class="app-footer" ng-if="currentUser">
    <span>
      <a href="https://www.pgxp.com.br">PGXP</a>
    </span>
    <span class="ml-auto" has-roles="Administrador,Visitante">
      <i class="icon-user"></i>
      <span class="badge badge-pill badge-danger">{{$root.conectados}}</span>
    </span>

  </footer>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/d3/d3.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
  <script src="bower_components/jquery-ui/jquery-ui.js"></script>
  <script src="bower_components/tether/dist/js/tether.js"></script>
  <script src="bower_components/json3/lib/json3.js"></script>
  <script src="bower_components/nvd3/build/nv.d3.js"></script>
  <script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
  <script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
  <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
  <script src="bower_components/ng-websocket/ng-websocket.js"></script>
  <script src="bower_components/angular-filter/dist/angular-filter.js"></script>
  <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angularjs-social-login/angularjs-social-login.js"></script>
  <script src="bower_components/angular-i18n/angular-locale_pt-br.js"></script>
  <script src="bower_components/angular-moment-locale-pt-br/pt-br.js"></script>
  <script src="bower_components/angular-ui-scroll/dist/ui-scroll.js"></script>
  <script src="bower_components/angular-ui-scrollpoint/dist/scrollpoint.js"></script>
  <script src="bower_components/angular-ui-event/dist/event.js"></script>
  <script src="bower_components/angular-ui-mask/dist/mask.js"></script>
  <script src="bower_components/angular-ui-validate/dist/validate.js"></script>
  <script src="bower_components/angular-ui-indeterminate/dist/indeterminate.js"></script>
  <script src="bower_components/angular-ui-uploader/dist/uploader.js"></script>
  <script src="bower_components/angular-ui-utils/index.js"></script>
  <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
  <script src="bower_components/ng-currency/dist/ng-currency.js"></script>
  <script src="bower_components/ngToast/dist/ngToast.js"></script>
  <script src="bower_components/bootbox/bootbox.js"></script>
  <script src="bower_components/ngBootbox/dist/ngBootbox.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js(.) scripts/theme.js -->
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <!-- injector:js -->
  <script src="/scripts/app.js"></script>
  <script src="/scripts/config.js"></script>
  <script src="/scripts/controllers/application.js"></script>
  <script src="/scripts/controllers/arquivos.js"></script>
  <script src="/scripts/controllers/auth.js"></script>
  <script src="/scripts/controllers/dashboard.js"></script>
  <script src="/scripts/controllers/usuario.js"></script>
  <script src="/scripts/directives/coreui.js"></script>
  <script src="/scripts/directives/directives.js"></script>
  <script src="/scripts/filters/filters.js"></script>
  <script src="/scripts/routes/auth.js"></script>
  <script src="/scripts/routes/dashboard.js"></script>
  <script src="/scripts/routes/usuario.js"></script>
  <script src="/scripts/services/alert.js"></script>
  <script src="/scripts/services/application.js"></script>
  <script src="/scripts/services/arquivos.js"></script>
  <script src="/scripts/services/auth.js"></script>
  <script src="/scripts/services/dashboard.js"></script>
  <script src="/scripts/services/fts.js"></script>
  <script src="/scripts/services/usuario.js"></script>
  <script src="/scripts/services/validation.js"></script>
  <script src="/scripts/services/windows.js"></script>
  <script src="/scripts/services/ws.js"></script>
  <!-- endinjector -->
  <!-- endbuild -->

</body>

</html>
