<ol class="breadcrumb">
  <li class="breadcrumb-item">Home</li>
  <li class="breadcrumb-item active">Dashboard</li>
  <li class="breadcrumb-menu d-md-down-none">
    <div class="btn-group" role="group" aria-label="Button group">
      <a class="btn" href="#">
        <i class="icon-speech"></i> Ajuda
      </a>
    </div>
  </li>
</ol>

<div class="container-fluid">
  <div class="animated fadeIn">


    <div class="card" has-roles="Administrador,Visitante">
      <div class="card-header">
        Busca
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-group">
            <div class="col-md-12">

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
